broker_config_path
config/broker_config.yml
data_provider_path
config/data_provider_config.yml
data_frequency_path
config/data_frequency.yml
strat_tester_path
backtester_tracker/strat_tester_recap.csv
error_log_path
launcher/error_log.txt
positions_pnl_tracker/self.symbol_position_history
